<div class="background-wrapper">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6 text-center p-4">
                <h4>Are you sure you want to delete this task?</h4>
                <div class="wrap text-center">
                    <h3 class="p-4">{{task}}</h3>
                </div>
                <form hx-post="{% url 'task_delete' pk=task.pk %}" hx-swap="innerHTML" hx-trigger="submit"
                      hx-target="#query_result">
                    <button class="btn btn-primary" type="submit">Delete task</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
