{% extends 'src/base.html' %}
{% block title %}Password change{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Password change</h5>
                    <form class="form-signin" method="post" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Password change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

