{% extends 'taskflow/base.html' %}
{% block title %}Logout{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Logout</h5>
                    <p>Are you sure you want to log out?</p>
                    <form class="form-signin" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--http://127.0.0.1:8000/accounts/password/reset/done/-->