{% extends './base.html' %}
{% load static %}
{% block title %}Update Task{% endblock %}

{% block content %}
<div class="background-wrapper">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6 text-center">
                <h1>Update Task</h1>
                <div class="p-4">
                    <form action="{% url 'task_update' pk=task.pk %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}