{% extends './base.html' %}
{% load static %}
{% block title %}Delete Task{% endblock %}

{% block content %}
<div class="background-wrapper">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6 text-center p-4">
                <h3>Are you sure you want to delete this task?</h3>
                <div class="wrap text-center">
                    {{task}}
                </div>
                <form action="{% url 'task_delete' pk=task.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Delete task</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}